* {
  /* border: 1px solid black; */
}
.top-banner {
  background-color: #d2e3d7;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  text-transform: capitalize;
  width: 100%;
}

.nav {
  background-color: #fff;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  text-transform: capitalize;
}

/* Navigation Header */
.nav-header {
  align-items: center;
  color: #757575;
  display: flex;
  flex: 1;
  height: 86px;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-header .hamburger {
  display: none;
}

.nav-header .social {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}

.nav-header .social p {
  border-right: 1px solid #757575;
  line-height: 12px;
  padding: 0 12px;
}

.nav-header .social p:last-child {
  border-right: none;
}

.nav-header .logo {
  display: flex;
  justify-content: center;
  height: 45px;
  width: 33%;
}

.nav-header .logo svg {
  height: 100%;
}

.nav-header .left{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 33%;
}

.nav-header .left div {
  padding: 0 12px;
}

.nav-header .left div:last-child {
  padding-right: 0;
}

.nav-header .search {
  display: flex;
}

.nav-header .search svg {
  fill: #757575;
  height: 15px;
  padding-right: 5px;
}

.nav-header .basket svg {
  color: #3f3f3f;
  fill: #757575;
  height: 22px;
}

/* Navigation Menu */
.nav-menu {
  color: #3f3f3f;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 22px;
}

.nav-menu p {
  padding: 0 20px;
}

.nav-menu p:last-child {
  color: #d52975;
}

.nav-menu p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.wrapper {
  margin: 0 70px;
}

/* Shopping categories banner */
.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow: hidden;
  padding-bottom: 50px;
  width: 100%;
}

.shop .category {
  overflow: hidden;
}

.shop .category img {
  width: 100%;
  height: auto;
}

/* Main content */
.main-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  height: auto;
}

/* Market Header */
.market .market-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
}

.market-header .left {
  display: flex;
  align-items: flex-end;
}

.market-header .left h1 {
  color: #535353;
  font-size: 16px;
  padding-right: 10px;
}

.market-header .left p {
  color: #757575;
  font-size: 8px;
}

.market-header .right {
  display: flex;
  align-items: center;
}

.market-header .right svg {
  fill: #757575;
  height: 27px;
}

.market-header .right svg:last-child {
  fill: #3f3f3f;
  height: 27px;
}

.market-header .right select {
  background: none;
  color: #3f3f3f;
  height: 40px;
  margin-right: 20px;
  width: 200px;
}

/* Market grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  grid-gap: 20px;
}

.card img {
  height: auto;
  width: 100%;
}

.card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.card .info h2 {
  color: #3f3f3f;
  font-size: 12px;
  margin-bottom: 8px;
}

.card .info p {
  color: #535353;
  font-size: 10px;
}

/* Sidebar */
.sidebar .browse {
  margin-bottom: 40px;
}

.sidebar .browse .header {
  color: #777779;
  display: flex;
  align-items: flex-end;
  height: 60px;
  border-bottom: 1px solid #f6f6f6;
}

.sidebar .browse p {
  color: #3f3f3f;
  margin: 20px 0;
}

.sidebar .browse p:nth-child(2) {
  color: #d52975;
}

.sidebar .browse .options p {
  color: #3f3f3f;
  margin: 20px 10px;
}

/* Sidebar Filter */
.filter {
  width: 100%;
}

.filter p {
  margin-bottom: 20px;
}

.filter-property {
  border-right: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  line-height: 50px;
  height: 50px;
  text-transform: capitalize;
}

.filter-property:last-child {
  border-bottom: 1px solid #f0f0f0;
}

.filter-property p {
  padding-left: 20px;
}

.filter-property svg {
  fill: #d52975;
  height: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 20px;
}

.test {
  display:none;
}

@media (max-width: 568px) {
  .nav-header .social,
  .nav-header .left .search p,
  .nav-header .left .currency,
  .nav-header .left .signup,
  .nav-menu,
  .sidebar,
  .market .market-header {
    display: none;
  }

  .nav-header {
    border-bottom: 1px solid #f6f6f6;
  }

  .nav-header .hamburger {
    width: 33%;
  }

  .nav-header .hamburger svg {
    fill: #3f3f3f;
    height: 15px;
  }

  .shop {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding-bottom: 50px;
    width: 100%;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(220px, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 1000px) {
  .nav-header .social,
  .nav-header .left .search p,
  .nav-header .left .currency,
  .nav-header .left .signup,
  .nav-menu {
    display: none;
  }

  .nav-header {
    border-bottom: 1px solid #f6f6f6;
  }

  .nav-header .hamburger {
    width: 33%;
  }

  .nav-header .hamburger svg {
    fill: #3f3f3f;
    height: 15px;
  }
}
