<div class="top-banner">

</div>
<div class="nav">
  <div class="nav-search">

  </div>
  <div class="nav-menu">

  </div>
</div>

<div class="wrapper">
  <div class="shop">
    <div class="shop category">

    </div>
    <div class="shop category">

    </div>
    <div class="shop category">

    </div>
  </div>
  <div class="main-content">
    <div class="market-header">

    </div>
    <div class="market">
      <div class="browse">

      </div>
      <div class="filter">

      </div>
      <div class="grid">
        <div class="card">

        </div>
      </div>
    </div>
  </div>
</div>
